.counter {
  border: 1px solid lightgray;
  width: 400px;
  height: 40px;
  padding: 5px;
  margin: 20px auto 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}
